
body{
	background:#333;
	
}
.navbar{ 
		border-bottom: 3px solid #008ed6;
		background: #292b2c;
		opacity: 0.7;
		
}
.row{margin-top: 61px;}
#home-section{
				 background:url(../img/dark-map.jpg)  no-repeat center top; 
			   background-size: cover;
               background-attachment: fixed;
				min-height: 700px;
}
			   
i.fa.fa-check{
				    background: #fff;
					color: #007bff;
					padding: 4px;
					border-radius: 3px;
					font-size:23px;
}
#home-section .dark-overlay {
    background:rgba(0, 0, 0, .40);
    min-height: 700px;
}


i.icon.fa.fa-check {
    background: black;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    font-size: 23px;
}